<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>compileBitcode</key>
        <false/>
        <key>method</key>
        <string>enterprise</string>
        <key>provisioningProfiles</key>
        <dict>
                <key>com.quickplay.reactnative.B2BDemo</key>
                <string>QuickPlayEnterpriseProfile</string>
                <key>com.quickplay.reactnative.tvpass</key>
		<string>QuickPlayEnterpriseProfile iOS</string>
        </dict>
        <key>teamID</key>
        <string>97243GD77A</string>
        <key>uploadSymbols</key>
        <true/>
</dict>
</plist>
